SUPABASE_AUTH_EXTERNAL_GITHUB_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"
SUPABASE_AUTH_EXTERNAL_GITHUB_CLIENT_ID="your-oauth-client-id"
SUPABASE_AUTH_EXTERNAL_GITHUB_SECRET="your-oauth-client-secret"
SUPABASE_DEFAULT_PASSWORD="your-default-password"

MY_EMAIL=you@example.com
MY_PASSWORD=your-app-password
